{{> header}}

<div class="page-parters">
  <div class="container">

    <h4>search the fitato network.</h4>
    {{> search-form}}

    {{#if results}}
      <h2>showing results for {{results.locationName}}</h2>

      {{#each results.facilities}}
        <h3>{{this.text}}</h3>
        {{#each this.activities}}
          <p>{{this}}</p>
        {{/each}}
      {{/each}}
    {{/if}}

  </div>
</div>

{{> footer}}