.faq-page {
  /* background-color: #efefef; */
  padding: 100px 15%;
  border-bottom: 1px solid #dddddd;
}

@media (max-width: 767px) {
  .faq-page {
    padding: 100px 10%;
  }
}

@media (max-width: 480px) {
  .faq-page {
    padding: 100px 5%;
  }
}

.faq-page h2 {
  font-weight: normal;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.faq-page h2:hover {
  color: #EB1F2E;
}
