.main-header-placeholder
.main-header
  .main-header-container
    img.main-header-menu-icon(src='/static/icons/menu.svg', alt='menu')
    a.menu-logo(href='/')
      img(src='/static/fitato-logo-colored.svg', title='Fitato', alt="fitato")
    .menu-links
      a.menu-link-item(href='/partners') Facilities
      a.menu-link-item(href='/purchase-fitato') Pricing
      a.menu-link-item(href='http://blog.fitato.fit', rel='noopener referrer') Blog
      a.menu-link-item(href='/contact') Contact Us
      a.menu-link-item(href='/faq') FAQ
      a.button(href='/download', style={margin: '0 0 0 10px'}) Download now
    .menu-close-x x
  .mobile-menu-bg
