<form action="" class="partners-search-form">
  <div>
    <select name="select-activity" id="partners-select-activity">
      {{#each data.activities}}
      <option value="{{this.id}}">{{this.text}}</option>
      {{/each}}
    </select>
  </div>
  <div>
    <select name="select-location" id="partners-select-location">
      {{#each data.locations}}
      <option value="{{this.id}}">{{this.text}}</option>
      {{/each}}
    </select>
  </div>
  <div>
    <button type="submit" class="button">Search</button>
  </div>
</form>