form.partners-search-form(action='/partner/search', method='POST')
  div
    select#partners-select-activity(name='activity')
      for i in options.activities
        option(value=i.id)= i.text
  div
    select#partners-select-location(name='location')
      for i in options.locations
        option(value=i.id)= i.text
  div
    button.button(type='submit') Go
